@page
@model BankStartWeb.Pages.CustomerModel
@{
}

<h2>@Model.Customer.Givenname @Model.Customer.Surname</h2>


    <p>@Model.Customer.Country</p>
    <p>@Model.Customer.CountryCode @Model.Customer.Telephone</p>
    <p>@Model.Customer.Birthday</p>
    <p>@Model.Customer.EmailAddress</p>
    <p>@Model.Customer.Streetaddress</p>
    <p>@Model.Customer.Zipcode, @Model.Customer.City</p>
    <a asp-page="/Customers">go back</a>

    <table class="table" style="width:100%">
        <tr>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>Money</th>
            <th>Transactions</th>
        </tr>
    @foreach(var account in Model.Accounts)
    {
        <tr>
            <td>@account.Id</td>
            <td>@account.AccountType</td>
            <td>@account.Balance</td>
            
            <th><a asp-page="/Transactions" asp-route-CustomerId="@account.CustomerId" asp-route-accountId="@account.Id"> See More </a></th>
        </tr>
    }

    </table>
