@page
@model BankStartWeb.Pages.TransactionsModel
@{
}

<table class="table" style="width:100%">
    <tr>
        
        <th>Amount</th>
        <th>Type</th>
        <th>Date</th>
         <th>Operation</th>
        <th>New Balance</th>
        <th><a asp-page="/Customer" asp-route-CustomerId="@Model.Account.Id">Go back</a></th>
    </tr>
    @foreach(var Transaction in Model.Account.Transactions)
    {
         <tr>
        <td>@Transaction.Amount</td>
        <td>@Transaction.Type</td>
        <td>@Transaction.Date</td>
        <td>@Transaction.Operation</td>
        <td>@Transaction.NewBalance</td>
        
    </tr>
    }

</table>

