@page
@model BankStartWeb.Pages.CustomerModel
@{
}

<h2>@Model.Customer.Givenname @Model.Customer.Surname</h2>


    <p>@Model.Customer.Country</p>
    <p>@Model.Customer.CountryCode </p>
    <p>+@Model.Customer.TelephoneCountryCode@Model.Customer.Telephone</p>
    <p>@Model.Customer.Birthday</p>
    <p>@Model.Customer.EmailAddress</p>
    <p>@Model.Customer.Streetaddress</p>
    <p>@Model.Customer.Zipcode, @Model.Customer.City</p>
    


    <table class="table" style="width:100%">
        <tr>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>Money</th>
            
        </tr>
        @{
            decimal sum = 0;
        }

    @foreach(var account in Model.Accounts)
    {
        sum += account.Balance;
        <tr>
            <td><a class="btn" asp-page="/AllCustomers/Transactions" asp-route-CustomerId="@account.CustomerId" asp-route-accountId="@account.Id">@account.Id</a></td>
            <td>@account.AccountType</td>
            <td>@account.Balance</td>
            
            
        </tr>
        
    }
   

    </table>
    <h3>Total Balance In All Accounts</h3>
     <h4>@sum.ToString("C")</h4>

     <p><a class="btn" asp-page="/AllCustomers/Customers">Back To Customers List</a></p>
     