@page
@model BankStartWeb.Pages.CustomersModel
@{
}
<form method="get">
    <div class="d-flex justify-content-end align-content-between">
        <input class="form-control form-control-lg" placeholder="Search" asp-for="@Model.SearchWord"/>
        <button type="submit" class="btn btn-primary">Search <i class='bx bx-search-alt-2 mx-3' ></i></button>
    </div>
    <br/>
</form>
<table class="table table-hover" style="width:100%">
<tr>
       <th>Id
       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="id" asp-route-order="asc">
       <i class='bx bx-chevron-up' ></i></a>

       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="id" asp-route-order="desc">
       <i class='bx bx-chevron-down' ></i></a>
   </th>
   <th>Name
       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="GivenName" asp-route-order="asc">
       <i class='bx bx-chevron-up' ></i></a>

       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="GivenName" asp-route-order="desc">
       <i class='bx bx-chevron-down' ></i></a>
   </th>
   <th>Surname
       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="SurName" asp-route-order="asc">
       <i class='bx bx-chevron-up' ></i></a>

       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="SurName" asp-route-order="desc">
       <i class='bx bx-chevron-down' ></i></a>
   </th>
   <th>Social number 
       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="NationalId" asp-route-order="asc">
       <i class='bx bx-chevron-up' ></i></a>
       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="NationalId" asp-route-order="desc">
       <i class='bx bx-chevron-down' ></i></a>
   </th>
   <th>City
       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="City" asp-route-order="asc">
       <i class='bx bx-chevron-up' ></i></a>
       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="City" asp-route-order="desc">
       <i class='bx bx-chevron-down' ></i></a>
   </th>
   <th>Address
       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="Streetaddress" asp-route-order="asc">
       <i class='bx bx-chevron-up' ></i></a>
       <a asp-page="/AllCustomers/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="Streetaddress" asp-route-order="desc">
       <i class='bx bx-chevron-down' ></i></a>
   </th>
   <th>More</th>
</tr>

    @foreach(var Customer in Model.Customers)
    {
        <tr>
            <td>@Customer.Id</td>
            <td>@Customer.Givenname</td>
            <td>@Customer.Surname</td>
            <td>@Customer.NationalId</td>
            <td>@Customer.City</td>
            <td>@Customer.Streetaddress</td>
            <td>   <a asp-page="/AllCustomers/Customer" asp-route-CustomerId="@Customer.Id"><h3><i class='bx bxs-comment-detail'></i></h3></a> </td>
       </tr>
    }
     <tr>
        <td>
        @if (Model.PageNo > 1)
        {
            <a asp-page="/AllCustomers/Customers" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder" asp-route-searchWord="@Model.SearchWord" asp-route-pageno="@(Model.PageNo-1)"><h1><i class='bx bxs-left-arrow-square' ></i></h1></a>
        }
        </td>
        <td></td>
        <td></td>
        <td>Visar Sidan @Model.PageNo av totalt @Model.TotalPageCount</td>
        <td></td>
        <td></td>
        <td>
            @if (Model.PageNo < Model.TotalPageCount)
            {
                <a asp-page="/AllCustomers/Customers" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder" asp-route-searchWord="@Model.SearchWord" asp-route-pageno="@(Model.PageNo+1)"><h1><i class='bx bxs-right-arrow-square'></i></h1></a>
            }
            </td>
    </tr>
</table>
