@page
@model BankStartWeb.Pages.CustomerModel
@{
}




<div class="card text-white bg-dark mb-3" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h2>@Model.Customer.Givenname @Model.Customer.Surname</h2></li>
        <li class="list-group-item">@Model.Customer.EmailAddress</li>
        <li class="list-group-item">+@Model.Customer.TelephoneCountryCode@Model.Customer.Telephone</li>
        <li class="list-group-item">@Model.Customer.Birthday</li>
        <li class="list-group-item">@Model.Customer.Streetaddress</li>
        <li class="list-group-item">@Model.Customer.Zipcode, @Model.Customer.City</li>
        <li class="list-group-item">@Model.Customer.Country</li>

    </ul>
</div>

<table class="table" style="width:100%">
        <tr>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>Money</th>
            
        </tr>
        @{
            decimal sum = 0;
        }

    @foreach(var account in Model.Accounts)
    {
        sum += account.Balance;
        <tr>
            <td><a class="btn btn-secondary" asp-page="/AllCustomers/Transactions" asp-route-CustomerId="@account.CustomerId" asp-route-accountId="@account.Id">@account.Id</a></td>
            <td>@account.AccountType</td>
            <td>@account.Balance</td>
            
            
        </tr>
        
    }
   

    </table>
    <h3>Total Balance In All Accounts</h3>
     <h4>@sum.ToString("C")</h4>

     <p><a class="btn" asp-page="/AllCustomers/Customers"><button type="button" class="btn btn-primary">Back To Customers List</button></a></p>
     