@page "{handler?}"
@model BankStartWeb.Pages.TransactionsModel
@{
}
<div class="card-body">
    <h3>Account Number: @Model.AccoundId</h3>
</div>

<div class="card-body">
    <h3>Total Balance: @Model.Account.Balance kr</h3>
</div>




<p>
    <a class="btn btn-primary" asp-page="/MoneyTransfer/Swish" asp-route-accountId="@Model.AccoundId" asp-route-customerId="@Model.CustomerId">Transfer<i class='bx bx-transfer bx-burst mx-3' ></i></a>
    <a class="btn btn-primary" asp-page="/MoneyTransfer/deposit" asp-route-accountId="@Model.AccoundId" asp-route-customerId="@Model.CustomerId">Deposit<i class='bx bx-money-withdraw bx-fade-up mx-3' ></i></a>
    <a class="btn btn-primary" asp-page="/MoneyTransfer/Withdraw" asp-route-accountId="@Model.AccoundId" asp-route-customerId="@Model.CustomerId">Withdraw<i class='bx bx-money-withdraw bx-fade-down mx-3' ></i></a>
</p>

    
<table class="table" id="post-table" style="width:100%">
   <thead>
   <tr>
       <th>Type</th>
       <th>Date</th>
       <th>Amount</th>
       <th>Operation</th>
       <th>New Balance</th>
   </tr>
   </thead>
    <tbody>
    </tbody>
    @*@foreach(var Transaction in Model.transaction)
    {
     <tr>
        <td>@Transaction.Type</td>
        <td>@Transaction.Date</td>
        <td>@Transaction.Amount</td>
        <td>@Transaction.Operation</td>
        <td>@Transaction.NewBalance</td>
    </tr>
    }*@
     
     
</table>
<a class="btn" href="javascript:fetchMore();"><button type="button" class="btn btn-secondary">See More</button></a>

<p><a class="btn btn-primary rounded" asp-page="/AllCustomers/Customer" asp-route-customerId="@Model.CustomerId">Back To Customer Profile <i class='bx bx-arrow-back bx-fade-right mx-3' ></i></a></p>

@section Scripts
{
    <script>
        pageNo = 1;
        function fetchMore() {
            fetch("Transactions?handler=FetchMore&pageNo=" + pageNo + "&personId=@Model.AccoundId")
                .then((response) => response.json())
                .then((json) => {
                        pageNo = pageNo + 1;
                        json.items.forEach(tableElements);
                    }
                );
        }
        function tableElements(element) {
            document.querySelector('#posts-table, tbody').innerHTML +=
            `<tr>
                <td>${element.type}</td>
                <td>${element.date}</td>
                <td>${element.amount}</td>
                <td>${element.operation}</td>
                <td>${element.newBalance}</td>
                </tr>`;
        }
        document.addEventListener("DOMContentLoaded", function () {
            fetchMore();
        });
    </script>
    
}

