@page
@model BankStartWeb.Pages.TransactionsModel
@{
}
    
<h3>Account Number</h3>
<h4>@Model.AccoundId</h4>
<h3>Total Balance</h3>
<h4>@Model.Account.Balance kr</h4>


<p><a class="btn" asp-page="/MoneyTransfer/Swish" asp-route-customerId="@Model.CustomerId">Send to another Account</a>
    <a class="btn" asp-page="/MoneyTransfer/deposit" asp-route-accountId="@Model.AccoundId" asp-route-customerId="@Model.CustomerId">Deposit </a>
    <a class="btn" asp-page="/MoneyTransfer/Withdraw" asp-route-accountId="@Model.AccoundId" asp-route-customerId="@Model.CustomerId">Withdraw </a>
</p>

    
<table class="table" style="width:100%">
    <tr>
        
        
        <th>Type</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Operation</th>
        <th>New Balance</th>
    </tr>
    
    @foreach(var Transaction in Model.transaction)
    {
     <tr>
        <td>@Transaction.Type</td>
        <td>@Transaction.Date</td>
        <td>@Transaction.Amount</td>
        <td>@Transaction.Operation</td>
        <td>@Transaction.NewBalance</td>
    </tr>
    }
     
     
</table>
<a class="btn" href="javascript:fetchMore();">See more</a>

<p><a class="btn" asp-page="/AllCustomers/Customer" asp-route-customerId="@Model.CustomerId">Back To Customer Profile</a></p>

@section Scripts
{
    <script>
        rowNo = 10;
        function fetchMore() {
            fetch("View?handler=FetchMore&rowNo=" + rowNo + "&personId=@Model.AccoundId")
                .then((response) => response.json())
                .then((json) => {
                        rowNo = rowNo + 20;
                        json.Transaction.forEach(tableElements);
                    }
                );
        }



        function tableElements(element) {
            document.querySelector('#posts-table tbody').innerHTML +=
                ` <tr>
        <td>${element.Type}</td>
        <td>${element.Date}</td>
        <td>${element.Amount}</td>
        <td>${element.Operation}</td>
        <td>${element.New Balance}</td>
    </tr>
    <a class="btn" onclick="fetchEvaluation(${element.id})">See more </a>
    `;
        }

        </script>
}

